.contact {
    width: 100%;
    color: rgb(144, 144, 144);

    .contact-container {
        width: 100%;
        padding-top: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: rgb(59, 58, 58);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .contact-form{
            // background: red;
            width: 80%;
            align-self: center;
            justify-self: center;
            form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                #message-sent{
                    display: none;
                }
            }
        }
        .contact-details{
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            div{
                width: 100%;
                display: flex;
                justify-content: space-around;
                margin: 10px;
                align-items: center;
                text-align: center;
                span{
                    display: inline-block;
                    margin-right: 7px;
                }
                .loc{
                    color: yellow;
                }
                .em{
                    color: rgb(255, 255, 255);
                }
                .ph{
                    color: rgb(15, 255, 15);
                }
                i{
                    font-size: 18px;
                    
                }
            }
        }
    }
}
footer{
    height: 100px;
    width: 100%;
    color: gray;
    background: black;
    font-size: 18px;

    .footer-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .social-icons{
            width: 100%;
            // height: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
}