@import './services';
@import './menu';
@import './header';
@import './variables';
@import './nav';
@import './gallery';
@import './contact';


*{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    // overflow-x: hidden;
    scroll-behavior: smooth;
    textarea{
        resize: none;
    }
    
}


body{
    width: 100%;
    height: 700vh;
    box-sizing: border-box;
    padding: 0;
    margin: 0 ;
    // overflow-x: hidden;
    // position: relative;

    background-color: $main-bg;
    height: auto;
    main{
        width: 100%;
    }
}

main{
    width: 100%;
    margin: 0 auto;
    background-attachment: fixed;
    background: $main-bg;
    display: flex;
    flex-direction: column;
    color: #b4afaf;
    align-items: center;
    justify-content: center;
    position: relative;

}



section{
    background: radial-gradient(#020101, #71553a);
    margin-top: 1px;
    padding-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    box-sizing: border-box;
   
}

.section-h2{
    color: orange;

    margin-left: 15px;
    margin-bottom: 5px;
    font-weight: normal;
    position: relative;
    // border-bottom: 2px solid orange;
    &::before{
        content: '';
        position: absolute;
        width: 10%;
        height: 1px;
        bottom: 0;
        left: 0%;
        background: linear-gradient( left, orange, #71553a);
    }
}
// #scrollpath{
//     position: fixed;
//     top: 0;
//     right: 0;
//     width: 10px;
//     height: 100px;
//     background: rgba(#fff, .5);
// }
// #progressbar{
//     position: fixed;
//     top: 0;
//     right: 0;
//     width: 10px;
//     height: 100%;
//     background: linear-gradient(to top, #008aff, #00ffe7);
// }
::-webkit-scrollbar{
    width: 10px;
    background: rgb(114, 74, 0);
    // box-shadow: inset 0 0 5px rgb(71, 21, 2);
}
::-webkit-scrollbar-thumb{
    width: 5px;
    height: 5px;
    border-radius: 10px;;
    background: #d38842;

}
::-webkit-scrollbar-track{
    color: violet;
    width: 5px;
    height: 5px;
}
.home .h3-subheadings {
    letter-spacing: 1.5px;
    text-align: center;
    margin: 20px;
    font-weight: 400;
  }